<div #statsPieChart [ngStyle]="{ width: '100%', height: '500px' }"></div>
<div class="bubble-charts-container">
  <div #staminaBubbleChart [ngStyle]="{ width: '100%', height: '300px' }"></div>
  <div
    #accuracyBubbleChart
    [ngStyle]="{ width: '100%', height: '300px' }"
  ></div>
  <div #powerBubbleChart [ngStyle]="{ width: '100%', height: '300px' }"></div>
  <div #dribbleBubbleChart [ngStyle]="{ width: '100%', height: '300px' }"></div>
  <div #speedBubbleChart [ngStyle]="{ width: '100%', height: '300px' }"></div>
</div>
